/* =============== HEADER ===================== */
header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
  margin-left: 12rem;
}

.header__container h1 {
  font-size: 4.5rem;
}

.header__left p {
  font-weight: bold;
  margin: 1rem 1rem 2.4rem;
}

.header__left .button-header {
  margin-left: 1rem;
}

/* ============ HEARTBEAT EFFECT ===================== */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.header-image {
  animation: heartbeat 3.5s infinite;
}

/* =============== CATEGORIES ===================== */
.categories {
  background: var(--color-secondary);
  height: 32rem;
}

.categories h1 {
  font-family: "Playwrite NZ";
  color: white;
  text-shadow: 2px 2px 4px #726868;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.categories__container {
  display: grid;
  grid-template-columns: 40% 60%;
}

.categories__left {
  margin-right: 4rem;
}

.categories__left p {
  font-weight: 500;
  margin: 1rem 0 3rem;
}

.categories__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.category {
  background: var(--color-button);
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid black;
  transition: var(--transition);
}

.category:hover {
  background-color: white;
}

.category__icon {
  background: white;
  padding: 0.7rem;
  border-radius: 0.9rem;

  display: inline-block;
  animation: tilt-shake 3s infinite;
}

/* Definisi animasi tilt-shake */
@keyframes tilt-shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

.category h5 {
  margin: 2rem 0 1rem;
}

.category p {
  font-size: 0.8rem;
  /* font-weight: 200; */
}

/* =============== ARTICLES ===================== */
.courses {
  margin-top: 15rem;
}

.courses h2 {
  font-family: "Playwrite NZ";
  color: black;
  text-shadow: 2px 2px 4px var(--color-secondary);
}

.courses__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course {
  background: #fff0f0c2;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.course:hover {
  background: transparent;
  border-color: black;
}

.course__info {
  padding: 2rem;
}

.course__info p {
  color: #414141;
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}

/* =============== F&A ===================== */
.faqs {
  background: var(--color-secondary);
  box-shadow: inset 0 0 3rem rgb(255, 255, 255);
}

.faqs h2 {
  font-family: "Playwrite NZ";
  text-shadow: 2px 2px 4px white;
}

.faqs__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  background: #fff0f0c2;
  border: 1px solid black;
  cursor: pointer;
}

.faq h4 {
  font-size: 1rem;
  line-height: 2.2;
}

.faq__icon {
  align-self: flex-start;
  font-size: 1.2rem;
}

.faq p {
  margin-top: 0.8rem;
  display: none;
}

.faq.open p {
  display: block;
}

/* =============== TESTIMONIALS ===================== */
.testimonials__container {
  overflow: hidden;
  position: relative;
  margin-bottom: 5rem;
}

.testimonials {
  padding-top: 2rem;
}

.testimonials__container h2 {
  font-family: "Playwrite NZ";
  color: black;
  text-shadow: 2px 2px 4px var(--color-secondary);
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 1rem solid var(--color-secondary);
  box-shadow: 0 0 10px rgb(248, 169, 169);
}

.testimonial__info {
  text-align: center;
}

.testimonial__body {
  background: var(--color-button);
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
}

.testimonial__body::before {
  content: "";
  display: block;
  background: linear-gradient(
    135deg,
    transparent,
    var(--color-button),
    var(--color-button),
    var(--color-button)
  );
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 50%;
  top: -1.5rem;
  transform: rotate(45deg);
}

/* =============== FOOTER ===================== */
footer {
  background: var(--color-secondary);
  padding-top: 5rem;
  font-size: 0.9rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer__container > div h4 {
  margin-bottom: 1.2rem;
  color: white;
}

.footer__1 p {
  margin: 1rem 0 2rem;
  font-style: italic;
}

footer ul li {
  margin-bottom: 0.7rem;
}

footer ul li a {
  color: black;
}

footer ul li a:hover {
  font-style: italic;
  font-weight: bold;
}

.footer__socials {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.footer__socials a i.uil-facebook-f {
  color: #4267b2; /* Warna Facebook */
}

.footer__socials a i.uil-instagram-alt {
  color: #c13584; /* Warna Instagram */
}

.footer__socials a i.uil-twitter {
  color: #1da1f2; /* Warna Twitter */
}

.footer__socials a i.uil-linkedin-alt {
  color: #0077b5; /* Warna LinkedIn */
}

.footer__copyright {
  text-align: center;
  margin-top: 4rem;
  padding: 1.2rem 0;
  border-top: 2px solid black;
}

/* =============== MEDIA QUERIES (TABLETS) ===================== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  /* =============== HEADER ===================== */

  header {
    height: 52vh;
    margin-bottom: 4rem;
  }

  .header__left p {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .header__container {
    gap: 0;
    padding-bottom: 3rem;
  }

  .header-image {
    width: 55% !important;
  }

  .header__left .button-header {
    margin-left: 0rem;
  }

  /* =============== CATEGORIES ===================== */
  .categories {
    height: auto;
  }

  .categories__container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .categories__left {
    margin-right: 0;
  }

  /* =============== COURSES ===================== */
  .courses {
    margin-top: 5rem;
  }

  .course {
    margin-top: 0;
  }

  .courses__container {
    grid-template-columns: 1fr 1fr;
  }

  /* =============== FAQ ===================== */
  .faqs__container {
    grid-template-columns: 1fr;
  }

  .faq {
    padding: 1.5rem;
  }

  /* =============== FOOTER ===================== */
  .footer__container {
    grid-template-columns: 1fr 1fr;
  }
}

/* =============== MEDIA QUERIES (PHONES) ===================== */
@media screen and (max-width: 600px) {
  body {
    .container {
      width: var(--container-width-sm);
    }
  }

  /* =============== HEADER ===================== */
  header {
    height: 100vh;
  }

  .header__container {
    margin-left: 1.5rem;
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
  }

  .header__left p {
    margin-bottom: 1.3rem;
  }

  .header-image {
    margin-left: 2rem;
  }

  .header__left .button-header {
    margin-top: 3rem;
  }

  /* =============== CATEGORIES ===================== */
  .categories__right {
    grid-template-columns: 1fr 1fr;
    gap: 0.7rem;
  }

  .category {
    padding: 1rem;
    border-radius: 1rem;
  }

  .category__icon {
    margin-top: 4px;
    display: inline-block;
  }
  /* =============== COURSES ===================== */
  .courses {
    margin-top: 1rem;
  }

  .courses__container {
    grid-template-columns: 1fr;
  }
  /* =============== TESTIMONIALS ===================== */
  .testimonial__body {
    padding: 1.2rem;
  }

  /* =============== FOOTER ===================== */

  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }

  .footer__1 p {
    margin: 1rem auto;
  }

  .footer__socials {
    justify-content: center;
  }
}
